.header {
    margin: 40px 175px 24px 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font-family: "Indie Flower", monospace;
        margin: 0 0 -12px 0;
        font-size: 40px;
        font-weight: 200;
        text-transform: uppercase;
        color: #333333;
    }

    &__byme {
        margin-left: 150px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        color: #333333;
    }

    &__data-label {
        font-family: "Kalam", monospace;
        font-size: 18px;
        margin-right: 8px;
        color: #333333;

        vertical-align: middle;
    }

    &__data {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 200;

        &--date {
            margin-right: 16px;
        }
    }
}

.line {
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
    margin-bottom: 24px;
}

.new-item {
    display: inline-flex;
    align-items: center;

    margin-left: 172px;
    cursor: pointer;

    &__plus-icon {
        height: 24px;
        width: 24px;
        background-image: url(images/icons/plus.svg);
        margin-right: 8px;
        vertical-align: middle;
        transition: all 0.3s;
    }

    &__plus-icon:hover {
        opacity: 0.7;
    }

    &__label {
        font-family: "Kalam", monospace;
        font-size: 16px;
        margin-top: 3px;
        transition: all 0.3s;
    }

    &__label:hover {
        opacity: 0.7;
    }
}

.illustration {
    position: fixed;
    bottom: 0;
    right: 71px;
}

.add-new-item {
    margin-left: 175px;
    display: none;
    &__description-field {
        padding: 8px 16px 9px 16px;
        margin-bottom: 16px;

        width: 504px;
        height: auto;

        border-radius: 3px;
        border: 0.5px solid #074b84;
    }

    &__description {
        border-width: 0;
        outline: none;
        width: 100%;
        overflow: hidden;

        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: #333333;

        &::placeholder {
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            color: #c3c3c3;

            width: auto;
        }
    }

    &__btn-add-task {
        margin-right: 12px;
        width: 101px;
        height: 28px;
        outline: none;
        border: none;
        border-radius: 3px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        background-color: #074b84;

        font-family: "Kalam", monospace;
        font-size: 14px;
        color: #ffffff;

        cursor: pointer;
        transition: all 0.3s;

        &--disabled {
            background-color: #b3b3b3;
            cursor: not-allowed;
        }
    }

    &__btn-add-task:hover {
        opacity: 0.9;
    }

    &__btn-add-task--disabled:hover {
        opacity: 1;
    }

    &__btn-cancel {
        border: none;
        outline: none;

        font-family: "Kalam", monospace;
        font-size: 14px;
        color: #c3c3c3;

        cursor: pointer;
        transition: all 0.3s;
    }

    &__btn-cancel:hover {
        opacity: 0.7;
    }
}

.tasks-container {
    max-width: 750px;
    max-height: 500px;
    overflow: auto;
    margin-bottom: 24px;
}
.task {
    &:last-of-type {
        margin-bottom: 0;
    }

    margin-bottom: 18px;
    width: 708px;

    &__hover {
        display: none;
        width: 708px;
        height: 50px;
        background-color: #f7f7f7;
    }

    &__content-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__description {
        margin-left: 175px;
        display: flex;
        align-items: flex-start;
    }

    &__checkbox {
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #074b84;

        margin-right: 8px;
    }

    &__checkbox_svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -60%);
        width: 20px;
    }

    &__checkbox {
        cursor: pointer;
        user-select: none;
        input {
            display: none;
        }

        &--hidden {
            display: none;
        }
    }

    &__checkbox_line {
        visibility: hidden;
        fill: none;
        stroke: #074b84;
        stroke-width: 9;
        stroke-miterlimit: 5;
    }

    &__checkbox [type="checkbox"]:checked + &__checkbox_svg &__checkbox_line {
        visibility: visible;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: checked 1s linear forwards;
    }

    @keyframes checked {
        to {
            stroke-dashoffset: 600;
        }
    }

    &__name {
        overflow: hidden;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        line-height: 1.5;
        max-width: 454px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: block;
    }

    &__edit-input-text {
        display: block;
        width: 480px;
        height: auto;
        overflow: hidden;

        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        line-height: 1.5;

        border-radius: 3px;
        border: 1px solid #f3f3f3;
        padding: 8px 12px 8px 8px;
        box-sizing: border-box;
        outline: none;
        resize: none;

        background-color: #f3f3f340;
        transition: all 0.3s;

        &--invalid {
            border: 1px solid #f15e50;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
    }

    &__btn-edit {
        width: 14px;
        height: 14px;
        background-image: url(images/icons/edit.svg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;

        margin-right: 8px;
        transition: all 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__btn-delete {
        width: 15px;
        height: 15px;
        background-image: url(images/icons/trash.svg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__btn-done {
        width: 13px;
        height: 13px;
        background-image: url(images/icons/done.svg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 0.3s;

        margin-right: 8px;

        &:hover {
            opacity: 0.7;
        }
    }

    &__btn-exit-edit {
        width: 13px;
        height: 13px;
        background-image: url(images/icons/cancel.svg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    .line:last-of-type {
        margin-bottom: 0;
    }
}
