.header {
    margin: 40px 175px 24px 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font-family: "Indie Flower", monospace;
        margin: 0 0 -12px 0;
        font-size: 40px;
        font-weight: 200;
        text-transform: uppercase;
        color: #333333;
    }

    &__byme {
        margin-left: 150px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        color: #333333;
    }

    &__data-label {
        font-family: "Kalam", monospace;
        font-size: 18px;
        margin-right: 8px;
        color: #333333;

        vertical-align: middle;
    }

    &__data {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 200;

        &--date {
            margin-right: 16px;
        }
    }
}

.line {
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
    margin-bottom: 24px;
}

.new-item {
    display: inline-flex;
    align-items: center;

    margin-left: 172px;
    cursor: pointer;

    &__plus-icon {
        height: 24px;
        width: 24px;
        background-image: url(images/icons/plus.svg);
        margin-right: 8px;
        vertical-align: middle;
        transition: all 0.3s;
    }

    &__plus-icon:hover {
        opacity: 0.7;
    }

    &__label {
        font-family: "Kalam", monospace;
        font-size: 16px;
        margin-top: 3px;
        transition: all 0.3s;
    }

    &__label:hover {
        opacity: 0.7;
    }
}

.illustration {
    position: fixed;
    bottom: 0;
    right: 71px;
}

.add-new-item {
    margin-left: 175px;
    display: none;
    &__description-field {
        padding: 8px 16px 9px 16px;
        margin-bottom: 16px;

        width: 504px;
        height: auto;

        border-radius: 3px;
        border: 0.5px solid #074b84;
    }

    &__description {
        border-width: 0;
        outline: none;
        width: 100%;

        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: #333333;

        &::placeholder {
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            color: #c3c3c3;

            width: auto;
        }
    }

    &__btn-add-task {
        margin-right: 12px;
        width: 101px;
        height: 28px;
        outline: none;
        border: none;
        border-radius: 3px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        background-color: #074b84;

        font-family: "Kalam", monospace;
        font-size: 14px;
        color: #ffffff;

        cursor: pointer;
        transition: all 0.3s;

        &--disabled {
            background-color: #b3b3b3;
            cursor: not-allowed;
        }
    }

    &__btn-add-task:hover {
        opacity: 0.9;
    }

    &__btn-add-task--disabled:hover {
        opacity: 1;
    }

    &__btn-cancel {
        border: none;
        outline: none;

        font-family: "Kalam", monospace;
        font-size: 14px;
        color: #c3c3c3;

        cursor: pointer;
        transition: all 0.3s;
    }

    &__btn-cancel:hover {
        opacity: 0.7;
    }
}

.task {
    margin-bottom: 18px;
    width: 708px;

    &__hover {
        display: none;
        width: 708px;
        height: 50px;
        background-color: #f7f7f7;
    }

    &__content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 16px;
    }

    &__description {
        margin-left: 175px;
        display: flex;
        align-items: center;
    }

    &__checkbox {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #074b84;

        margin-right: 8px;
    }

    &__name {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }

    &__btns {
        display: flex;
        align-items: center;
    }

    &__btn-edit {
        width: 14px;
        height: 14px;
        background-image: url(images/icons/edit.svg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;

        margin-right: 8px;
        transition: all 0.3s;

        &:hover {
            opacity: 0.7;
        }

        &:hover {
            &__hover {
                display: block;
            }
        }
    }

    &__btn-delete {
        width: 12px;
        height: 12px;
        background-image: url(images/icons/delete.svg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}
